body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: "Roboto", monospace important!;
  background: #020d27;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.card-header-size {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card-par-size {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1rem;
}

a.par-link {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1rem;
  text-decoration: none;
}

a.par-link:hover {
  color: #aea2ea;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
}

.welcome {
  font-size: 2.5rem;
  color: #fafafa;
}

/* COLORS */

.light-white {
  color: #fafafa;
}

.deep-blue {
  color: #aea2ea;
}

.light-white-bg {
  background: #fafafa;
}

.deep-blue-bg {
  background: #aea2ea;
}

.reg,
.log {
  -webkit-box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.9);
  box-shadow: 5px 5px 13px -2px rgba(0, 0, 0, 0.9);
}

.reg {
}

.log {
  padding-top: 10rem;
}

/* FORM */

.btn-register {
  background: #aea2ea;
  font-size: 1.25rem;
  color: #fafafa;
  border: 1px solid #aea2ea;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}

.btn-register:hover {
  background: #fafafa;
  border: 1px solid #aea2ea;
  color: #aea2ea;
  transition: 0.5s;
}

.btn-register-inverse {
  background: #aea2ea;
  font-size: 1.25rem;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 3.125rem;
  width: 80%;
}

.btn-register-inverse:hover {
  background: #fafafa;
  color: #aea2ea;
  transition: 0.5s;
}

.btn-forgot-inverse {
  background: #fafafa;
  font-size: 1.25rem;
  color: #aea2ea;
  border: 1px solid #aea2ea;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 3.125rem;
  width: 80%;
  text-decoration: none;
}

.btn-forgot-inverse a {
  color: #aea2ea;
}

.btn-forgot-inverse:hover {
  text-decoration: none;
  background: #aea2ea;
  color: #fafafa;
  transition: 0.5s;
}

.btn-forgot-inverse:hover a {
  color: #fafafa;
  transition: 0.5s;
}

.btn-forgot.btn-register {
  width: 35%;
  margin-left: 5%;
  margin-right: 10%;
}

.btn-forgot-inverse.btn-forgot {
  width: 35%;
  margin-left: 10%;
  margin-right: 5%;
}

.btn-forgot.btn-register-inverse {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.has-danger .custom-file-control,
.has-danger .form-control,
.is-focused .has-danger .custom-file-control,
.is-focused .has-danger .form-control {
  background-image: -webkit-linear-gradient(
      bottom,
      #aea2ea 2px,
      rgba(244, 67, 54, 0) 0
    ),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: -o-linear-gradient(
      bottom,
      #ff123 2px,
      rgba(244, 67, 54, 0) 0
    ),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: linear-gradient(0deg, #aea2ea 2px, rgba(244, 67, 54, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: -webkit-linear-gradient(
      bottom,
      #aea2ea 2px,
      rgba(0, 150, 136, 0) 0
    ),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: -o-linear-gradient(
      bottom,
      #aea2ea 2px,
      rgba(0, 150, 136, 0) 0
    ),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: linear-gradient(0deg, #aea2ea 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.help-block {
  color: #b76a96;
  margin-left: 10%;
  margin-right: 10%;
}

input.form-control {
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

label.control-label {
  margin-top: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}
